@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
$primary-color: #FFE600;
$bgIconSearch: #e4e0e0;
$bgInput:#ffffff;
$inputSize: 12px;
$bg-color: #EEEEEE;
$bg-productCard: #ffffff;
$secondary-text: rgba(0,0,0,.45);
$gray: #666;
$gray-over: #3f3f3f;
$blue: #3483fa;
$dark-blue: #2161C1;
$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Gentium Book Plus', sans-serif;